/* TODO: Cleanup rule organization */
/* TODO: Prevent resize when scrolls bar appears */
/* Universal Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* * {border:1px solid lightblue} */


/* Animations */
/* TODO: https://stackoverflow.com/questions/47578337/css-change-animation-duration-without-jumping */
/* TODO: Record Clicker: record scratch, needles, plays music,
                         limited time per ascension, etc. */
#spinningRecord {
  filter: drop-shadow(0px 0px 10px #00000077);
  animation: rotate 10s linear infinite;
  transition-property: all;
  transition-duration: 1s;
}

#spinningRecord.maxSpin {
  filter: drop-shadow(0px 0px 100px #ff0000cc);
}

/* TODO */
/* #spinningRecord {
  --_a: rotate 5s linear infinite;
  animation: var(--_a),var(--_a),var(--_a) paused;
  animation-composition: add;
}
#spinningRecord:hover {
  animation-play-state: running;
} */

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

/* TODO: Figure out why colorKey elements re-animate on click */
/* TODO: Row expands to show album art/record & music preview */
tr.tblBody:hover,
.hoverable:hover,
input[type="search"]:focus {
  position: sticky;
  z-index: 999;

  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: transform .2s;

  filter: drop-shadow(0px 0px 5px #00000075);
  filter: brightness(110%);
}

tr.tblBody,
.hoverable {
  -webkit-transform: scale(1.00);
  transform: scale(1.00);
  transition: transform .2s;
}


/* Pointer Rules */
button,
tr.tblBody,
.checkboxForm,
input[type="checkbox"],
input[type="reset"] {
  cursor: pointer;
}


/* Main Rules */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-family: Roboto, sans-serif;
  background: rgb(39, 48, 56);
}

/* TODO: Record & UI next to each other on desktop */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* TODO: Add small space between phone edge and UI elements */
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.rowContainer {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  padding: 2px;
  filter: drop-shadow(0px 0px 4px #000000b4);
}

#row4 {
  justify-content: flex-end;
  align-content: flex-end;
}

.header, .footer {
  display: flex;
  align-items: center;
}


/* Search Bar Rules */
/* TODO: Figure out why search bars won't flex */
input[type="search"] {
  padding: 0 5px 0 5px;
  font-size: large;
  color: lightgrey;
}

#htmlSearchTerms {
  background-color: darkred;
}
#htmlSearchTerms:focus {
  background-color: rgb(109, 0, 0);
}

#htmlBlacklist {
  background-color: rgb(24, 24, 24);
}
#htmlBlacklist:focus {
  background-color: rgb(0, 0, 0);
}


/* Checkbox Rules */
/* TODO: line up elements horizontally */
#checkboxContainer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 240px;
  gap: 2px 10px;
}

.checkboxForm {
  display: flex;
  align-items: flex-start;
  gap: 2px;
  zoom: 1.3;

  font-size: 10px;
  accent-color: darkred;
  color: lightgrey;
  filter: drop-shadow(1px 1px 2px #000000b4);
}


/* Button Rules */
button {
  width: 90px;
  padding: 8px;
  border: 2px solid;

  font-size: 16px;
  font-weight: 900;
  border-radius: 8px;
  border-color: rgba(255, 0, 0, 0.438);
  background: rgb(117, 13, 13);
  color: lightgrey;
}

.queueButton {
  display: block;
  width: 100%;
  border-color: rgba(0, 0, 0, 0.438);
  filter: grayscale(20%);
}

button:hover {
  filter: brightness(115%);
}
button:active {
  filter: brightness(85%);
}


/* Reset Button Rules */
input[type="reset"] {
  border-radius: 2px;
  border-color: rgba(255, 0, 0, 0.438);
  background: rgb(117, 13, 13);
  color: lightgrey;
}

input[type="reset"]:hover {
  filter: brightness(115%);
}
input[type="reset"]:active {
  filter: brightness(85%);
}


/* Table Rules */
table, td {
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate; /* Don't collapse */
  border-spacing: 0;

  width: 95%;
  height: 40px;
  padding: 4px;
  color: lightgrey;
  filter: drop-shadow(0px 0px 5px #000000c7);
}

td {
  border: 1px solid;
  border-color: rgb(0, 0, 0);
}

th {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: black;
}

.tblStandardArtist {
  font-size: smaller;
}
.tblStandardAlbum {
  font-size: normal;
}
.tblExpandedArtist {
  font-size: x-small;
}
.tblExpandedAlbum {
  font-size: smaller;
}
.tblExpandedKeywords {
  font-size: xx-small;
}

thead {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 60px;
  font-size: large;
  background-color: rgb(59, 58, 68);
  filter: drop-shadow(0px 0px 5px #000000c7);
}

.colorKey {
  font-size: small;
}
.colorKey:hover {
  filter: brightness(115%);
}
.colorKey:active {
  filter: brightness(85%);
}

.TBLTraditional {
  background-color: rgb(61, 2, 45);
}
.TBLScore {
  background-color: rgb(52, 0, 95);
}
.TBLCover {
  background-color: rgb(0, 45, 82);
}
.TBLVGM {
  background-color: rgb(0, 59, 50);
}
.TBLMisc {
  background-color: rgb(35, 71, 0);
}


/* Misc Rules */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
