/* TODO: Cleanup rule organization */
/* Universal Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* * {border:1px solid lightblue} */

/* Animations */
/* TODO: Make record spin faster after clicking */
.spinningRecord {
  filter: drop-shadow(0px 0px 10px #00000077);
  animation: rotate 10s linear infinite ;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

/* Main Rules */
/* TODO: Fix horizontal scroll on record rotation */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-family: Roboto, sans-serif;
  background: rgb(39, 48, 56);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

#htmlSearchTerms,
#htmlBlacklist {
  padding: 0px 5px 0px 5px;
  font-size: large;
  color: lightgrey;
}

#htmlSearchTerms {
  background-color: darkred;
}

#htmlBlacklist {
  background-color: black;
}

.checkboxForm {
  display: flex;
  align-items: flex-start;
  gap: 2px;
  zoom: 1.5;

  font-size: small;
  accent-color: darkred;
  color: lightgrey;
  filter: drop-shadow(1px 1px 2px #000000b4);
}

.rowContainer1,
.rowContainer2,
.rowContainer3,
.rowContainer4 {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  padding: 2px;
  filter: drop-shadow(0px 0px 4px #000000b4);
}

.rowContainer1 {
  align-items: flex-end;
}

.header, .footer {
  display: flex;
  align-items: center;
}

/* Element Rules */
button {
  width: 90px;
  padding: 8px;
  border: 2px solid;

  font-size: 16px;
  font-weight: 900;
  border-radius: 8px;
  border-color: rgba(255, 0, 0, 0.438);
  background: rgb(117, 13, 13);
  color: lightgrey;
}

button:hover {
  background-color: rgb(85, 0, 0);
}

button:active {
  background-color: rgb(160, 0, 0);
}

#htmlSearchTerms:focus {
  background-color: rgb(109, 0, 0);
}

table, td {
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;

  width: 90%;
  height: 40px;
  padding: 4px;
  border: 2px solid;

  border-color: rgb(0, 0, 0);
  background-color: rgb(95, 0, 0);
  color: lightgrey;
  filter: drop-shadow(0px 0px 5px #000000c7);
}

.keyHeader {
  height: 40px;
  font-size: smaller;
}

.labelHeader {
  height: 30px;
  font-size: larger;
  background-color: rgb(59, 58, 68);
}

.TBLTraditional {
  background-color: rgb(61, 2, 45);
}

.TBLScore {
  background-color: rgb(52, 0, 95);
}

.TBLCover {
  background-color: rgb(0, 45, 82);
}

.TBLVGM {
  background-color: rgb(0, 59, 50);
}

.TBLMisc {
  background-color: rgb(35, 71, 0);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
