/* Universal Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* * {border:1px solid lightblue} */

/* Animations */
/* TODO: Make record spin faster after clicking */
.spinningRecord {
  animation: rotate 10s linear infinite ;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

/* Main Rules */
body {
  min-height: 100vh;
  background: rgb(39, 48, 56);

  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#htmlSearchTerms {
  background-color: darkred;
  color: lightgrey;
  font-size: large;
}

.checkboxForm {
  display: flex;
  align-items: flex-start;

  accent-color: darkred;
  color: lightgrey;
  font-size: small;
  zoom: 1.5;
}

.rowContainer1 {
  display: flex;
}

.rowContainer2 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.header, .footer {
  display: flex;
  align-items: center;
}

/* Element Rules */
button {
  background: rgba(255, 0, 0, 0.377);
  color: lightgrey;
  font-size: 16px;
  font-weight: 900;
  width: 80px;

  border: 2px solid;
  border-color: rgba(255, 0, 0, 0.438);
  border-radius: 8px;
  padding: 8px;
}

button:hover {
  background-color: rgba(255, 0, 0, 0.226);
}

button:active {
  background-color: rgba(255, 0, 0, 0.527);
}

/* TODO: Format table better for mobile */
table, td {
  background-color: rgb(95, 0, 0);
  color: lightgrey;

  border: 2px solid;
  border-color: rgb(56, 0, 0);
  border-collapse: collapse;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
